{%- block app_datepicker_js_row -%}
        <div id="{{ id }}_container" class="form-group" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ form_label(form) }}
        {{ form_widget(form) }}
{%- endblock app_datepicker_js_row -%}

{%- block app_datepicker_js_label -%}
    {{ form_errors(form) }}
    <label for="{{ id }}">
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        {{ label|trans }}
    </label>

{%- endblock app_datepicker_js_label -%}

{%- block app_datepicker_js_widget -%}
    {# <input type="hidden" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}"{% endif %}/> #}
        <input class="datepicker" id="{{ id }}_datepicker" data-date-format="mm/dd/yyyy">

        {# {% if value is not empty %}{{ value|raw }}{% endif %} #}
    </div>
    <script type="text/javascript">
        if (window.DatePickerToLoad === undefined) {
            window.DatePickerToLoad = [];
        }
        {# var DatePickerProvider = function () {
            if (window.QuillActivatedEditor === undefined) {
                window.QuillActivatedEditor = [];
            }
            var container = document.getElementById('{{ id }}_container'),
                editableBody = document.getElementById('{{ id }}_datepicker_body'),
                editor = new Quill(editableBody, {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline'],
                            [{'list': 'bullet'}, 'blockquote'],
                            [{'align': ''}, {'align': 'center'}, {'align': 'right'}, {'align': 'justify'}],
                            ['clean']
                        ]
                    },
                    theme: 'snow',
                }),
                editorChange = function () {
                    var containerId = this.id, inputId = containerId.replace('_container', ''),
                        input = document.getElementById(inputId);
                    input.value = window.QuillActivatedEditor[containerId].editor.root.innerHTML;
                    var event = document.createEvent('Event');
                    event.initEvent('change', true, true);
                    input.dispatchEvent(event);
                }
            ;
            editor.on('text-change', editorChange.bind(container));
            editor.clipboard.addMatcher(Node.ELEMENT_NODE, (node, delta) => {
                delta.ops = delta.ops.map(op => {
                    return {
                        insert: op.insert
                    }
                });
                return delta;
            });
            window.QuillActivatedEditor['{{ id }}_container'] = {editor: editor, container: container};
        }; #}

        if (window.datePickerProviderToLoad === undefined) {
            window.datePickerProviderToLoad = [];
        }

        var datePickerProvider=function(){
            $("#{{ id }}_datepicker").datepicker({
            startDate: '-3d'
        });
        }
         
        

            if (typeof datepicker === 'undefined') {
                window.DatePickerToLoad.push(datePickerProvider);
                var link = document.createElement('link');
                link.href = 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css';
                link.rel = 'stylesheet';
                document.head.appendChild(link);
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js';
                script.onload = function () {
                    for (var i = 0; i < window.DatePickerToLoad.length; i++) {
                        window.DatePickerToLoad[i]();
                    }
                };
                document.head.appendChild(script);
            }else{
                datePickerProvider()
            }
                
            
    
   
    </script>
{%- endblock app_datepicker_js_widget -%} 