{% extends 'base.html.twig' %}

{% set total = 0 %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 70px">
        <div class="row">
            <div class="col-sm-3">
                <div class="card card-body bg-light">
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th class="text-center">Nos Produits</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="#">Entrées</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Plats</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Desserts</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-9">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                <h3>Votre Panier</h3>
                <table id="cart" class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th style="width:50%">Produit</th>
                        <th style="width:10%">Prix</th>
                        <th style="width:8%">Quantité</th>
                        <th style="width:22%" class="text-center">Total</th>
                        <th style="width:10%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if produits|length == 0 %}
                        <tr>
                            <td class="text-center" colspan="5">Aucun article dans votre panier</td>
                        </tr>
                    {% endif %}
                    {% for product in produits %}
                        <tr>
                            <form action="{{ path('cart_add', {id: product.id}) }}" method="get">
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                                        <div class="col-sm-10">
                                            <h4 class="nomargin">{{ product.name }}</h4>
                                            <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">{{ product.price }} €</td>
                                <td>
                                    <select name="qte" class="form-control form-control-sm"  onchange="this.form.submit()" style="width:70px;">
                                        {% for i in 1..10 %}
                                            <option value="{{ i }}"
                                                    {% if i == panier[product.id] %}
                                                        selected="selected"
                                                    {% endif %}
                                            >
                                                {{ i }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td data-th="Subtotal" class="text-center">{{ product.price * panier[product.id] }} €</td>
                                <td><a href="{{ path('cart_remove', {id: product.id}) }}"><i class="fa fa-trash-o"></i></a></td>
                            </form>
                        </tr>
                        {% set total = total + (product.price * panier[product.id]) %}

                    {% endfor %}
                    </tbody>
                    {% if produits|length != 0 %}
                        <tfoot>
                        <tr class="visible-xs">
                            <td class="text-center"><strong>Total {{ total }} €</strong></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>Total {{ total }} €</strong></td>
                            <td><a href="{{ path('cart_validation') }}" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                        </tr>
                        </tfoot>
                    {% else %}
                        <tfoot>
                        <tr>
                            <td>
                                <a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>
                            </td>
                        </tr>
                        </tfoot>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}