{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 70px">
        <div class="row">
            {#{% include 'category/index.html.twig' %}#}
            <div class="col-sm-9">
                <h3>Valider mon panier</h3>
                <form>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Références</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Total HT</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for produit in order.item.produit %}
                        <tr>
                            <td>{{ produit.reference }}</td>
                            <td>
                                {{ produit.quantite }}
                            </td>
                            <td>{{ produit.prix }}€</td>
                            <td>{{ produit.prix  * produit.quantite }}€</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>

                <dl class="dl-horizontal pull-right">
                    <dt>Total:</dt>
                    <dd>{{ order.item.total }}€</dd>
                </dl>
                <div class="clearfix"></div>
                <form action="{{ path('cart_validate',  {id: order.id}) }}" method="post">
                    <input name="token" type="hidden"  value="{{ order.item.token }}">
                    <input name="prix" type="hidden"  value="{{ order.item.total }}">
                    <input name="date" type="hidden"  value="{{ order.date|date('d-m-Y H:i:s') }}">
                    <button type="submit" class="btn btn-success pull-right">Payer</button>
                </form>
                <a href="{{ path('cart_index') }}" class="btn btn-primary">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}