/*-------- Start Banner Area -------------*/

.banner-area {
    background:url(../img/banner-bg.jpg) center;
    background-size:cover;
    background-attachment: fixed;
    z-index: -1;
.fullscreen {
@include media-breakpoint-down (sm) {
    height: 700px !important;
}
}
.primary-btn{
    padding-left: 30px;
    padding-right: 30px;
}
.overlay-bg{
    background-color:rgba(#04091e,.50);
}
}
.banner-content {
    text-align:center;
h1{

    color:$white;
    font-size: 72px;
    font-weight: 700;
    line-height: 1em;
    margin-top:20px;
    padding:2px 0px;
    margin-bottom:20px;
    border-bottom:1px solid $primary-color;
    border-top:1px solid $primary-color;
@media(max-width:1024px){
    font-size:62px;
}
@media ( max-width:991px ) {
    font-size:50px;
}
@media ( max-width:414px ) {
    font-size:25px;
}
}
p{
    max-width:900px;
}
h6{
    color:$white;
    letter-spacing:2px;
    font-weight:400;
    font-size:14px;
}
}


.banner-img{
    text-align:right;
@media(max-width:767px){
    width:60%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
}


/*-------- End Banner Area -------------*/