{% extends 'base.html.twig' %}

{% block body %}
    <div class="formDiv form2">
        {{ form_start(passwordReset) }}
        {{ form_widget(passwordReset) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Reinitialiser le mot de passe
        </button>
        {{form_end(passwordReset)}}
    </div>

{% endblock %}


