{% extends 'base.html.twig' %}

{% block body %}
    <div class="formDiv form2">
        {{ form_start(passwordForgotten) }}
            {{ form_widget(passwordForgotten) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Envoyer le mail
            </button>
        {{form_end(passwordForgotten)}}
    </div>

{% endblock %}


