{% extends 'base.html.twig' %}
{% form_theme registrationForm _self %}

{% block title %}Register!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{#{% block form_row %}#}
    {#{%- set widget_attr = {} -%}#}
    {#{%- if help is not empty -%}#}
        {#{%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}#}
    {#{%- endif -%}#}

    {#{{- form_label(form) -}}#}
    {#{{- form_errors(form) -}}#}
    {#{{- form_widget(form, widget_attr) -}}#}
    {#{{- form_help(form) -}}#}

{#{% endblock %}#}

{#{% block _user_registration_form_agreeTerms_row %}#}
    {#<div class="checkbox mb-3">#}
        {#{{ form_errors(form) }}#}
        {#<label>#}
            {#<input type="checkbox" name="{{ full_name }}" required> Accepter les conditions d'utilisation#}
        {#</label>#}
    {#</div>#}
{#{% endblock %}#}

{% block body %}
<div class="formDiv form2">
    {{ form_start(registrationForm, {
        attr: { class: 'form-signin'}
    }) }}

    <h1 class="h3 mb-3 font-weight-normal text-center">S'enregistrer</h1>

        {{ form_widget(registrationForm) }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            S'enregistrer
        </button>
    {{ form_end(registrationForm) }}
    {#<form class="form-signin" method="post">#}

        {#to do - remplacer avec le Form#}

        {#<h1 class="h3 mb-3 font-weight-normal">S'enregistrer</h1>#}
        {#<label for="inputEmail" class="sr-only">Email address</label>#}
        {#<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>#}
        {#<label for="inputPassword" class="sr-only">Password</label>#}
        {#<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>#}

        {#<div class="checkbox mb-3">#}
            {#<label>#}
                {#<input type="checkbox" name="_terms"> Accepter les conditions d'utilisation#}
            {#</label>#}
        {#</div>#}

    {#</form>#}
</div>
{% endblock %}

{#{% block body %}#}
{#<form method="post">#}
    {#{% if error %}#}
        {#<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
    {#{% endif %}#}

    {#{% if app.user %}#}
        {#<div class="mb-3">#}
            {#You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
        {#</div>#}
    {#{% endif %}#}

    {#<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
    {#<label for="inputEmail">Email</label>#}
    {#<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>#}
    {#<label for="inputPassword">Password</label>#}
    {#<input type="password" name="password" id="inputPassword" class="form-control" required>#}

    {#<input type="hidden" name="_csrf_token"#}
           {#value="{{ csrf_token('authenticate') }}"#}
    {#>#}

    {##}
        {#Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
        {#See https://symfony.com/doc/current/security/remember_me.html#}

        {#<div class="checkbox mb-3">#}
            {#<label>#}
                {#<input type="checkbox" name="_remember_me"> Remember me#}
            {#</label>#}
        {#</div>#}
    {##}

    {#<button class="btn btn-lg btn-primary" type="submit">#}
        {#Sign in#}
    {#</button>#}
{#</form>#}
{#{% endblock %}#}
