{% extends 'base.html.twig' %}

{% block body %}
    <section class="home-about-area section-gap">
        <div class="container">
            Un mail contenant le lien vous a était envoyé
        </div>
    </section>

{% endblock %}


