
.topnav {
    overflow: hidden;
    background-color: #252525;
    position: fixed;
    width: 100%;
    z-index: 1;
    top:0;
    transition: top 0.6s;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    opacity: 0.6;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: transparent;
    opacity: 1;
    transition: 0.4s;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }