/* NAVIGATION */
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.navbar-bg {
    background: cornflowerblue;
    background-size: 80%;
}
.card-group{
    padding-top: 2%;
}
#panelAdmin{
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: white;
    border-radius: 8px;
    padding-top: 2%;
    padding-bottom: 4%;
}
.btn1{
    color: white;
    background-color: #0056b3;
    padding: 2%;
    border-radius: 25px;
}
.btn1:hover{
    background-color: white;
    border: 1px solid black;
    color: #0056b3;
}


.space-brand {
    color: #fff;
    font-weight: bold;
}

.nav-profile-img {
    width: 50px;
    border: 1px solid #fff;
}

.ql-editor strong{
    font-weight:bold;
}
#footer{
    width: 100%;
}
.formDiv{
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: white;
    height: 100%;
    margin-bottom: 5%;
    border-radius: 18px;
    margin-top: 2%;
    padding: 2%;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}
.form2{
    width: 50% !important;
    margin-top: 5%;
}
