<div class="col-sm-3">
    <div class="card card-body bg-light">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th class="text-center">Nos Catégories de produits</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td><a href="{{ path('owner_category_index', {categorie : category.id}) }}">{{ category.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>