{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 70px">

        <h1>Create new Category</h1>

        {{ include('category/_form.html.twig') }}

        <a href="{{ path('owner_category_index') }}">back to list</a>

    </div>
{% endblock %}
