{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
<section class="home-about-area section-gap">
    <div class="container">
    <h1>Edit Product</h1>

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h3>Details</h3>

                {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('owner_product_index') }}">back to list</a>

                {{ include('product/_delete_form.html.twig') }}
            </div>
            <div class="col-sm-4">
                <h3>References</h3>

                <ul class="list-group small js-reference-list" data-url="{{ path('owner_admin_product_list_references', { id: product.id}) }}"></ul>

                <hr>

                <form action="{{ path('owner_admin_product_add_reference', {
                    id: product.id
                }) }}" method="post" enctype="multipart/form-data" class="dropzone js-reference-dropzone">
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" integrity="sha256-e47xOkXs1JXFbjjpoRr1/LhVcqSzRmGmPqsrUQeVs+g=" crossorigin="anonymous" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js" integrity="sha256-cs4thShDfjkqFGk5s2Lxj35sgSRr4MRcyccmi0WKqCM=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/admin_product_form.js') }}"></script>
</section>    
{% endblock %}
