{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<section class="home-about-area section-gap">
    <div class="container">
        <a href="{{ path('owner_product_new') }}" class="btn btn-primary pull-right">
            Créer <span class="fa fa-plus-circle"></span>
        </a>
        <h1>Product index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>IsMenu</th>
                    <th>Published</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description|slice(0, 70) }}...</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.isMenu ? 'Yes' : 'No' }}</td>
                    <td>
                        <span class="fa fa-{{ product.isPublished ? 'check' : 'times' }}"></span>
                    </td>
                    <td>
                        {#<a href="{{ path('product_show', {'slug': product.slug}) }}">show</a>#}
                        <a href="{{ path('owner_product_edit', {'id': product.id}) }}">
                            <span class="fa fa-pencil"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
