{% extends 'base.html.twig' %}


{% block body %}
<section class="home-about-area section-gap">
    <div class="container">
        <h1>Ajoutez un nouveau produit !</h1>

        {{ include('product/_form.html.twig') }}
        <a href="{{ path('owner_product_index') }}">Retour a votre liste de produits</a>
    </div>
    </div>
{# </section> #}
{% endblock %}

