{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="container formDiv">
    <h1>Product</h1>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>IsMenu</th>
                <td>{{ product.isMenu ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ product.quantity }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ product.picture }}</td>
            </tr>
        </tbody>
    </table>
    
    <div class="row">
        <div class="col-sm-12">
            <img src="{{ product.imagePath|imagine_filter('squared_thumbnail_small') }}">
        </div>
    </div>

    <a href="{{ path('owner_product_index') }}">back to list</a>

    <a href="{{ path('owner_product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
    </div>
{% endblock %}
