{% extends 'content_base.html.twig' %}

{% block title %}Gestion de Produits{% endblock %}

{#{% block content_class %}{{ parent() }} show-article-container-border-green{% endblock %}#}

{% block content_body %}
<section class="home-about-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Gérer vos {{ pagination.getTotalItemCount() }} Produits</h1>

                {#<form>#}
                    {#<div class="input-group mb-3">#}
                        {#<input type="text"#}
                               {#name="q"#}
                               {#class="form-control"#}
                               {#placeholder="Search..."#}
                               {#value="{{ app.request.query.get('q') }}"#}
                        {#>#}
                        {#<div class="input-group-append">#}
                            {#<button type="submit"#}
                                    {#class="btn btn-outline-secondary">#}
                                {#<span class="fa fa-search"></span>#}
                            {#</button>#}
                        {#</div>#}
                    {#</div>#}
                {#</form>#}

                <a href="{{ path('owner_product_new', {id: shop.id}) }}" class="btn btn-primary pull-right">
                    Créer <span class="fa fa-plus-circle"></span>
                </a>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Propiétaire</th>
                        <th>Magasin</th>
                        <th>Article</th>
                        <th>Publié le </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for product in pagination %}
                            <tr>
                                <td>
                                    {{ product.shop.userAccount.email }}
                                </td>
                                <td>
                                    {{ product.shop.name }}
                                </td>
                                {#Utiliser slice ou twig extension#}
                                <td>
                                    {{ product.name }}
                                </td>
                                <td>
                                    {{ product.createdAt|ago }}
                                </td>
                                <td>
                                    <a href="{{ path('owner_product_edit', {'id': product.id}) }}">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center">
                                    Aucun produit trouvé
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(pagination) }}

            </div>
        </div>
    </div>
</section>
{% endblock %}
