{{ form_start(form) }}
    {#{{ form_widget(form) }}#}
    {{ form_row(form.name) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.website) }}
    {{ form_row(form.status) }}
    {#{{ form_row(form.status) }}#}
    {{ form_row(form.description) }}
    {{ form_row(form.streetNumber) }}
    {{ form_row(form.street) }}
    {{ form_row(form.postalCode) }}
    {{ form_row(form.city) }}
    <div class="row">
        <div class="col-sm-9">
            {{ form_row(form.imageFile, {
                attr: {
                    placeholder: 'Choisir une image de magasin'
                }
            }) }}
        </div>
        <div class="col-sm-3">
            {% if form.vars.data.picture|default %} {#default pour ne pas l'afficher lors de la création#}
                <a href="{{ uploaded_asset(form.vars.data.imagePath) }}" target="_blank">
                    <img src="{{ form.vars.data.imagePath|imagine_filter('squared_thumbnail_small') }}" height="100">
                </a>
            {% endif %}
        </div>
    </div>
    {{ form_row(form.userAccount) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
