{% extends 'base.html.twig' %}

{% block title %}Edit Shop{% endblock %}

{% block body %}
    <h1>Edit Shop</h1>

    {{ include('shop/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_shop_index') }}">back to list</a>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ include('shop/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
