{% extends 'base.html.twig' %}

{% block title %}Shop index{% endblock %}


{% block body %}
    <div class="container" style="margin-top: 70px">
         <h1>Shop index</h1>

        <table>
            <div class="row">
                {% for shop in shops %}
                    {# <div class="card">
                        <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22259%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20259%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16f8fcf5d2a%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16f8fcf5d2a%22%3E%3Crect%20width%3D%22259%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.25%22%20y%3D%2296%22%3E259x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ shop.name }}</h5>
                            <p class="card-text">{{ shop.description }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div> #}

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="card h-100">
                            <a href="{{ path('admin_shop_show', {'id': shop.id}) }}"><img class="card-img-top" src="{{ shop.imagePath|imagine_filter('squared_thumbnail_shop') }}" alt=""></a>
                            <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ path('admin_shop_show', {'id': shop.id}) }}">{{ shop.name }}</a>
                            </h4>
                            <p class="card-text">{{ shop.address }}</p>
                            <p style="text-align:right;">
                                <a href="{{ path('admin_shop_edit', {'id': shop.id}) }}">edit</a>
                             </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ shop.status ? 'Ouvert' : 'fermer' }}</small>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </table>
    </div>
{% endblock %}
