{% extends 'base.html.twig' %}

{% block title %}New Shop{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/algolia-autocomplete.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}

{% block body %}
    <div class="formDiv form2">
    <div class="container">

        <h1>Create new Shop</h1>
        {{ include('shop/_form.html.twig') }}

        <a href="{{ path('admin_shop_index') }}">back to list</a>
    </div>
    </div>
{% endblock %}
