{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{%  block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/shop.css') }}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{% endblock %}

  {%  block javascripts %}
    {{ parent() }}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Include the above in your HEAD tag -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
     <script>
			// On initialise la latitude et la longitude de Paris (centre de la carte)
			function init() {
                let pos = {lat: -20.123, lng: 45.245};
                map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                center: pos
                });
            }
            $(document).ready(function(){
                $('.customer-logos').slick({
                    slidesToShow: 6,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 500,
                    arrows: false,
                    dots: false,
                    pauseOnHover: false,
                    responsive: [{
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 4
                        }
                    }, {
                        breakpoint: 520,
                        settings: {
                            slidesToShow: 3
                        }
                    }]
                });
            });
		</script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?AIzaSyBbv0RsnPOyeLrO-78BHIqKoA9b7NR2qbI&callback=init"></script>
{% endblock %}      

{% block body %}
    <h1>Shop</h1>

{#<div id="map" width=500 height=500></div>#}

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="http://apps.tourisme-alsace.info/photos/cdcbarr/photos/boulangerie_poree2.jpg" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                {# Change Photo #}
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                       {{ shop.name }}  
                                    </h5>
                                    <h6>
                                        {{ shop.description }}
                                    </h6>
                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Product</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Information</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
<<<<<<< HEAD
                        <a href="{{ path('admin_shop_index') }}"><input type="submit" class="profile-edit-btn" name="btnAddMore" value="Retour a la liste"/></a>
                        
=======
                        <a href="{{ path('owner_product_admin', {id: shop.id}) }}">voir mes produits</a>
                        {#<a href="{{ path('owner_product_new', {id: shop.id}) }}">Ajouter un produit</a>#}
>>>>>>> backend
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                           
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            
                            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <h3>Mes Produits</h3>
                                <section class="customer-logos slider">
                                    {% for product in products %}
                                    <div class="slide"><img width=100 height=100 src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"><p>{{ product.name }}</p></div>
                                    {% endfor %}
                                    {# <div class="slide"><img width=100 height=100 src="http://www.webcoderskull.com/img/logo.png"></div>
                                    <div class="slide"><img width=100 height=100 src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"></div>
                                    <div class="slide"><img width=100 height=100 src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"></div>
                                    <div class="slide"><img width=100 height=100 src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg"></div> #}
                                    {# <div class="slide"><img width=200 height=200 src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>
                                    <div class="slide"><img width=200 height=200 src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>
                                    <div class="slide"><img width=200 height=200 src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></div>
                                    <div class="slide"><img width=200 height=200 src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg"></div> #}
                                </section>
                                
                                </div>                               
                            </div>
                            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                      
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Nom</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ shop.description }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Telephone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ shop.phone }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Type</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Boulangerie</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Adresse</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ shop.streetNumber }} {{ shop.street }} {{ shop.postalCode }} {{ shop.city }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Map</label>
                                            </div>
                                            <div class="col-md-6">
                                                
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>
       
    {# <a href="{{ path('admin_shop_index') }}">back to list</a>

<<<<<<< HEAD
    <a href="{{ path('admin_shop_edit', {'slug': shop.slug}) }}">edit</a> #}
=======
    <a href="{{ path('admin_shop_edit', {'id': shop.id}) }}">edit</a>
>>>>>>> backend

    {{ include('shop/_delete_form.html.twig') }}
{% endblock %}
