{% extends 'base.html.twig' %}

{% block body %}
<section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex justify-content-center align-items-center" style="height: {{652}}px";>
                <div class="banner-content col-lg-10 col-md-12 justify-content-center">
                    <h6 class="text-uppercase">Whenever we bake, bake with our heart</h6>
                    <h1>
                        Love at first bite
                    </h1>
                    <p class="text-white mx-auto">
                        Best bakery at this location.
                    </p>
                    <a href="{{ path('default_show') }}" class="primary-btn squire text-uppercase mt-10">Check Our Menu</a>
                </div>
            </div>
        </div>
</section>
{% endblock %}