{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 70px">
        <table>
            <div class="row">
                {% for shop in shops %}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="card h-100">
                            <a href="{{ path('default_products', {id: shop.id}) }}"><img class="card-img-top" src="{{ shop.imagePath|imagine_filter('squared_thumbnail_shop') }}" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">{{ shop.name }}</a>
                                </h4>
                                <p class="card-text">{{ shop.address }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ shop.status ? 'Ouvert' : 'fermer' }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </table>
    </div>
{% endblock %}