<div class="col-sm-3">
    <div class="card card-body bg-light">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th class="text-center">Panier</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="#">
                        {% if nbProducts == 0 %}
                            Aucun Produit dans le panier
                        {% elseif nbProducts == 1 %}
                            1 produit dans le panier
                        {% else %}
                            {{ nbProducts }} produits dans le panier
                        {% endif %}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>