{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 70px; margin-bottom: 50px;">
        <div class="card">
            <div class="row">
                <aside class="col-sm-5 border-right">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <a href="#"><img src=""></a></div>
                        </div> <!-- slider-product.// -->
                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <aside class="col-sm-7">
                    <article class="card-body p-5">
                        <h3 class="title mb-3">{{ product.name }}</h3>

                        <p class="price-detail-wrap">
                            <span class="price h3 text-warning">
                                <span class="num">{{ product.price }}</span><span class="currency">€</span>
                            </span>
                        </p> <!-- price-detail-wrap .// -->
                        <dl class="item-property">
                            <dt>Description</dt>
                            <dd><p>{{ product.description }} </p></dd>
                        </dl>
                        <dl class="param param-feature">
                            <dt>Catégorie#</dt>
                            <dd>{{ product.category.name }}</dd>
                        </dl>  <!-- item-property-hor .// -->
                        {#<dl class="param param-feature">#}
                            {#<dt>Color</dt>#}
                            {#<dd>Black and white</dd>#}
                        {#</dl>  <!-- item-property-hor .// -->#}
                        {#<dl class="param param-feature">#}
                            {#<dt>Delivery</dt>#}
                            {#<dd>Russia, USA, and Europe</dd>#}
                        {#</dl>  <!-- item-property-hor .// -->#}

                        <hr>
                        {% if panier[product.id] is not defined %}
                            <form action="{{ path('cart_add', {id: product.id}) }}" method="GET">
                                <select name="qte" class="form-control form-control-sm" style="width:70px;">
                                    {% for i in 1..10 %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>

                                <hr>
                                {#<div class="row">#}
                                    {#<div class="col-md-offset-4 col-md-8 float-right">#}
                                        <button type="submit" class="btn btn-primary float-right">
                                            <span class="glyphicon glyphicon-shopping-cart"></span> Mettre dans le panier
                                        </button>
                                    {#</div>#}
                                {#</div>#}
                                {#<a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-success float-right">#}
                                    {#<i class="fa fa-shopping-cart mr-1"></i>#}
                                    {#Ajouter au panier#}
                                {#</a>#}
                            </form>
                        {% else %}
                            <a href="{{ path('cart_index', {id: product.id}) }}" class="btn btn-success float-righ"> le produit est deja dans le panier</a>
                        {% endif %}
                        {#<div class="row">#}
                            {#<div class="col-sm-5">#}
                                {#<dl class="param param-inline">#}
                                    {#<dt>Quantité: </dt>#}
                                    {#<dd>#}
                                        {#<select class="form-control form-control-sm" style="width:70px;">#}
                                            {#<option> 1 </option>#}
                                            {#<option> 2 </option>#}
                                            {#<option> 3 </option>#}
                                        {#</select>#}
                                    {#</dd>#}
                                {#</dl>  <!-- item-property .// -->#}
                            {#</div> <!-- col.// -->#}

                        {#</div> <!-- row.// -->#}

                    </article> <!-- card-body.// -->
                </aside> <!-- col.// -->
            </div> <!-- row.// -->
        </div>
        <!--container.//-->
    </div>

{% endblock %}