{% extends  'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {#<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">#}
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 70px">
        <div class="row">
            {#{% include 'Front/menu.html.twig' %}#}
            <div class="col-md-9">
                <div class="row">
                    {% for product in products %}

                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="{{ product.imagePath|imagine_filter('squared_thumbnail_shop') }}" style="height: 100%"></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <span>{{ product.name }}</span>
                                    </h4>
                                    <h5>{{ product.price }}€</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{{ path('cart_show', {id: product.id}) }}" class="btn btn-primary float-left">
                                        {#<i class="fa fa-shopping-cart mr-2"></i>#}
                                        infos
                                    </a>
                                    {% if panier[product.id] is not defined %}
                                        <a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-success float-right">
                                            <i class="fa fa-shopping-cart mr-1"></i>
                                            Ajouter
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}