{% extends 'base.html.twig' %}

{% block title %}Manage Account!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/userAccount.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="margin-top:70px;">
        {{ form_start(accountForm) }}
        {#{{ form_row(accountForm.firstName) }}#}
        {#{{ form_row(accountForm.lastName) }}#}
        {#{{ form_row(accountForm.phoneNumber) }}#}
        {{ form_widget(accountForm) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(accountForm) }}
    </div>
{% endblock %}



