{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
    <h1>Orders</h1>
    <table class="table">
        <tbody>
            <tr>
                    {# <th>Id</th> #}
                    <th>Magasin</th>
                    <th>Date de commande</th>
                    <th>Prix de la commande</th>
            </tr>
            {% for order in user.orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.userAccount }}</td>
                <td>{{ order.price }}</td>
                {# <td>{{ order.menus.name }}</td>
                <td>{{ order.orderedBy }}</td> #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#
    <a href="{{ path('admin_shop_index') }}">back to list</a>

    <a href="{{ path('admin_shop_edit', {'id': order.id}) }}">edit</a>

    {{ include('shop/_delete_form.html.twig') }}#}
{% endblock %}
