 {% extends 'owner/base_owner.html.twig' %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/sidemenu.css') }}">

 {% endblock %}
{% block body %}
{{ parent() }}
    <div class="container" id="panelAdmin">
        <h2>Bienvenue sur votre page d'administartion</h2>
        <div class="card-group">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Vos produits</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href=" {{ path('owner_product_index') }}" class="btn btn-primary">Go </a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Vos menus</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href=" {{ path('owner_menu_index') }}" class="btn btn-primary">Go</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Vos commandes</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>











    </div>



{% endblock %}