{% extends 'base.html.twig' %}

{% block title %}Edit Menu{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px">
        <h1>Edit Menu</h1>

        {{ include('menu/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('owner_menu_index') }}">Retourner à la liste de menu</a>

        {{ include('menu/_delete_form.html.twig') }}
    </div>
{% endblock %}
