{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Menu index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Picture</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for menu in menus %}
                <tr>
                    <td>{{ menu.id }}</td>
                    <td>{{ menu.name }}</td>
                    <td>{{ menu.price }}</td>
                    <td>{{ menu.picture }}</td>
                    <td>
                        <a href="{{ path('owner_menu_show', {'id': menu.id}) }}">show</a>
                        <a href="{{ path('owner_menu_edit', {'id': menu.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('owner_menu_new') }}">Create new</a>
    </div>
{% endblock %}
