{% extends 'base.html.twig' %}

{% block title %}New Menu{% endblock %}

{% block body %}
    <section class="home-about-area section-gap">
            <h1>Create new Menu</h1>

            {{ include('menu/_form.html.twig') }}

            <a href="{{ path('owner_menu_index') }}">back to list</a>
        </div>
    </section>
{% endblock %}
