{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <div class="formDiv form2">
    <h1>Menu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ menu.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ menu.price }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ menu.picture }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('owner_menu_index') }}">back to list</a>

    <a href="{{ path('owner_menu_edit', {'id': menu.id}) }}">edit</a>

    {{ include('menu/_delete_form.html.twig') }}
    </div>
{% endblock %}
