{%  extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-error1.css') }}"
{% endblock %}

{% block body %}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>Cette page n'est pas disponible</h2>
            </div>
            <a href="{{ path('default_index_front') }}">Retourner a l'accueil</a>
        </div>
    </div>
{% endblock %}