{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %} {#inky pour avoir le css de notre page visible sur toutes les boites mails#}
    <container>
        <row class="header">
            <columns>
                <a href="{{ url('default_index') }}" >
                    <img src="{{ absolute_url(asset('images/email/logo.jpg')) }}" class="logo" alt="SpaceBar Logo">
                </a>
            </columns>
        </row>
        <row class="welcome">
            <columns>
                <spacer size="35"></spacer>
                <h1>
                    <center>
                        Numéro de Commande {{ order.orderNumber }}
                    </center>
                </h1>
                <spacer size="10"></spacer>
            </columns>
        </row>

        <spacer size="30"></spacer>
        <row>
            <columns>
                <form>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Références</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Total HT</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for produit in order.item.produit %}
                            <tr>
                                <td>{{ produit.reference }}</td>
                                <td>
                                    {{ produit.quantite }}
                                </td>
                                <td>{{ produit.prix }}€</td>
                                <td>{{ produit.prix  * produit.quantite }}€</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </columns>
        </row>
        <row class="footer">
            <columns>
                <p>Cordialement,</p>
                <p><em>L'équipe Bakery</em></p>
            </columns>
        </row>
        <row class="bottom">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    <div>
                        Bakery
                    </div>
                </center>
            </columns>
        </row>
    </container>
{% endapply %}
