{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %} {#inky pour avoir le css de notre page visible sur toutes les boites mails#}
    <container>
        <row class="bottom">
            <columns>
                Bonjour,<br>
                Vous avez effectuer une demande de réinitialisation de votre mot de passe.<br>
                Veuillez suivre le lien suivant pour finaliser l'opération.<br>
                <a href="{{ url }}">Cliquez ici</a>
            </columns>
        </row>
    </container>
{% endapply %}
