{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %} {#inky pour avoir le css de notre page visible sur toutes les boites mails#}
    <container>
        <row class="header">
            <columns>
                <a href="{{ url('default_index') }}" >
                    <img src="{{ absolute_url(asset('images/email/logo.jpg')) }}" class="logo" alt="SpaceBar Logo">
                </a>
            </columns>
        </row>
        <row class="welcome">
            <columns>
                <spacer size="35"></spacer>
                <h1>
                    <center>
                        Nous vous remercions de votre inscription {{ email.toName }}!
                    </center>
                </h1>
                <spacer size="10"></spacer>
            </columns>
        </row>
        <spacer size="30"></spacer>
        <row>
            <columns>
                <p>
                    Bienvenue sur <strong>Bakery</strong>, Vous pouvez commamder dès maintenant sur nos magasins en ligne en cliquant sur le lien
                    ci dessous
                </p>
            </columns>
        </row>
        <row>
            <columns>
                <center>
                    <button href="{{ url('default_show') }}">Voir nos magasins!</button>
                </center>
            </columns>
        </row>
        <row>
            <columns>
                <p>
                    Nous sommes heureux de vous compter parmi nos utilisateurs
                </p>
            </columns>
        </row>
        <row class="footer">
            <columns>
                <p>Cordialement,</p>
                <p><em>L'équipe Bakery</em></p>
            </columns>
        </row>
        <row class="bottom">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    <div>
                        Bakery
                    </div>
                </center>
            </columns>
        </row>
    </container>
{% endapply %}
